@use '../../../src/theme/colors';

:root {
  --card-box-shadow-color: #{colors.$dark-box-shadow};
  --card-a-color: #{colors.$blue-800};
}

.theme-dark {
  //--card-box-shadow-color: #{colors.$gray-2-opacity};
  --card-a-color: #{colors.$blue-200};
}

@layer theme {
  .card {
    box-shadow: 0 0 5px var(--card-box-shadow-color);
  }
  // ISSUE (1)
}

.card {
  padding: 1rem 1rem 2.5rem 1rem;
  height: 100%;
  position: relative;
  background-color: transparent;

  a {
    // ISSUE (1): cannot layer - bootstrap override
    color: var(--card-a-color);
    position: absolute;
    bottom: 1rem;
    left: 1rem;
  }
}