
.card {
  min-width: max(30vw, 250px);
  width: min(50vw, 700px);
  border: 1px solid black;
  min-height: 50vh;
  padding: 3rem 1rem;
  background: #fffc;
  .h4 {
    text-align: center;
    margin-bottom: 2rem;
  }
  .card-option {
    border: 2px solid gray;
    padding: .5rem 1rem;
    width: 100%;
    display: block;
    border-radius: .25rem;
    margin-bottom: 1rem;
    cursor: pointer;
    user-select: none;
    &.selected {
      border-color: #ff115f;
    }
  }
  button {
    background: #ff115f;
    padding: .5rem 2rem;
    border: none;
    border-radius: 1.5rem;
    color: white;
    font-weight: bold;
    &:active, &:focus {
      outline: 2px solid royalblue;
    }
  }
}

.animating {
  .card {
    animation: card-slide 2s ease forwards;
  }
}

@keyframes card-slide {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  47.5% {
    transform: translate(-90vw, 0);
    opacity: 1;
  }
  49.1% {
    transform: translate(-90vw, 0);
    opacity: 0;
  }
  50.7% {
    transform: translate(90vw, 0);
    opacity: 0;
  }
  52.5% {
    transform: translate(90vw, 0);
    opacity: 1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}
