$purple-50: #efe5fd;
$purple-100: #d4bff9;
$purple-200: #b794f6;
$purple-300: #9965f4;
$purple-400: #7e3ff2;
$purple-500: #6002ee;
$purple-600: #5300e8;
$purple-700: #3d00e0;
$purple-800: #1c00db;
$purple-900: #0000d6;
$purple-200-opacity: rgba(183, 148, 246, 0.9);

$orange-50: #fff3e2;
$orange-100: #ffe0b6;
$orange-200: #ffcd87;
$orange-300: #ffb858;
$orange-400: #ffa938;
$orange-500: #fe9a24;
$orange-600: #fa8f22;
$orange-700: #f37f20;
$orange-800: #ed6f1e;
$orange-900: #e2571b;
$orange-600-opacity: rgba(250, 143, 34, 0.5);

$blue-50: #e4f3ff;
$blue-100: #bfe1ff;
$blue-200: #95cfff;
$blue-300: #6abbff;
$blue-400: #4cacff;
$blue-500: #379dff;
$blue-600: #388eff; //main complementary
$blue-700: #367beb;
$blue-800: #3569d8;
$blue-900: #3149b8;
$blue-300-opacity: rgba(191, 225, 255, 0.8);

$white: #FFFFFF;
$black: #000000;
$gray: #7f7f7f;
$lightgray: #c1c1c1;
$lightgray-2: #bbb;
$black-4-opacity: rgba(0, 0, 0, 0.4);
$white-7-opacity: rgba(255, 255, 255, 0.7);
$green: #2FD037;
$green-2: #96d096;
$red: #D0372F;
$red-2: #d06e6e;