$uranian-blue: #B4E1FF;
$tropical-indigo: #AB87FF;
$lavender-pink: #FFACE4;
$maize: #EFEA5A;
$sandy-brown: #F29E4C;

$tyrian-purple: #5F0F40;
$carmine: #9A031E;
$ut-orange: #FB8B24;
$spanish-orange: #E36414;
$midnight-green: #0F4C5C;

$rainbow-red: #e81416;
$rainbow-orange: #ffa500;
$rainbow-yellow: #faeb36;
$rainbow-green: #79c314;
$rainbow-blue: #487de7;
$rainbow-indigo: #4b369d;
$rainbow-violet: #70369d;

$white: #FFFFFF;
$black: #000000;
$gray: #7f7f7f;

$white-smoke: #F3F3F3;

$wall-yellow: #edb84e;
$anchor-blue: #0066CCFF;
