@use 'colors';

.filter-class {
  border: 1px solid colors.$blue-700;
  border-radius: .25rem .25rem 0 0;
  margin: 1rem 0;
  padding: 1rem;
  .form-title {
    margin-bottom: 2rem;
  }
  label > input{
    margin-left: 0.5rem;
  }
  .radio-label {
    margin-right: 1rem;
    margin-left: .5rem;
  }
  .filter-buttons {
    margin-top: 2rem;
  }
}