@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");
:root {
  --sidebar-background-color: rgba(244, 244, 244, 0.7);
  --nav-text-color: #3149b8;
  --nav-hover-background: #efe5fd;
  --nav-hover-icon: #ed6f1e;
}

.theme-dark {
  --sidebar-background-color: rgba(0, 0, 0, 0.7);
  --nav-text-color: #bfe1ff;
  --nav-hover-background: #9965f4;
  --nav-hover-icon: #ffa938;
}

@layer theme {}
* {
  box-sizing: border-box;
}

.sidebar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 2rem;
  flex-wrap: wrap;
  background-color: rgba(22, 22, 22, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}
.sidebar img {
  width: 100px;
  height: 56px;
  object-fit: cover;
}
.sidebar .nav-anchor a {
  display: flex;
  justify-content: space-between;
}
.sidebar .nav-anchor a .nav-icon {
  margin-left: 1rem;
}

.filter-class {
  border: 1px solid #367beb;
  border-radius: 0.25rem 0.25rem 0 0;
  margin: 1rem 0;
  padding: 1rem;
}
.filter-class .form-title {
  margin-bottom: 2rem;
}
.filter-class label > input {
  margin-left: 0.5rem;
}
.filter-class .radio-label {
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.filter-class .filter-buttons {
  margin-top: 2rem;
}

:root {
  --card-box-shadow-color: rgba(190, 190, 190, 0.2);
  --card-a-color: #3569d8;
}

.theme-dark {
  --card-a-color: #95cfff;
}

@layer theme {
  .card {
    box-shadow: 0 0 5px var(--card-box-shadow-color);
  }
  .card a {
    color: var(--card-a-color) !important;
  }
}
.card {
  padding: 1rem 1rem 2.5rem 1rem;
  height: 100%;
  position: relative;
  background-color: transparent;
}
.card a {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

.file-input {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  height: 30px;
  padding: 0 0.5rem;
  cursor: pointer !important;
  border: 1px solid #7f7f7f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.file-input .dots {
  font-family: Courier, sans-serif;
  display: inline-block;
  width: 3ch;
  animation: dots 2s linear infinite;
  overflow: hidden;
  height: 100%;
}
.file-input:hover {
  border-color: #000000;
}
.file-input input[type=file] {
  cursor: pointer !important;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

@keyframes dots {
  0%, 25% {
    width: 0;
  }
  26%, 50% {
    width: 1ch;
  }
  51%, 75% {
    width: 2ch;
  }
  76%, 100% {
    width: 3ch;
  }
}
.modal-wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: brightness(40%);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-wrapper.active {
  display: flex;
}
.modal-wrapper .react-modal {
  max-width: 60%;
  min-width: 100px;
  min-height: 100px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}
.modal-wrapper .react-modal .modal-footer {
  justify-content: center;
}

.loading-screen {
  background-color: #e4f3ff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.rotary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border: 10px solid;
  border-color: #5300e8 transparent transparent #388eff;
  border-radius: 50%;
  animation: rotate 5s cubic-bezier(0.1, 0, 0.9, 1) infinite;
}

@keyframes rotate {
  50% {
    transform: rotateZ(0.5turn);
  }
  100% {
    transform: rotateZ(1turn);
  }
}
.react-switch {
  box-sizing: border-box;
  width: 45px;
  height: 20px;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.4rem #bbb, -0.2rem -0.2rem 0.4rem #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  --left: 2px;
  --right: 25px;
  --position: var(--left);
}
.react-switch.checked {
  --position: var(--right);
}
.react-switch.checked::after {
  background-image: linear-gradient(330deg, #388eff 0%, #95cfff 100%);
}
.react-switch::after {
  transition: transform 0.22s linear;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  transform: translateX(var(--position));
  height: 16px;
  width: 16px;
  background-image: linear-gradient(330deg, #D0372F 0%, #d06e6e 100%);
}
.react-switch > div {
  height: 100%;
}

.settings-container {
  max-width: 700px;
  margin: auto;
  border: 2px solid;
  border-color: transparent #3149b8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-container .settings-text {
  max-width: calc(100% - 45px - 1rem);
  margin-right: 1rem;
}

:root {
  --carousel-transform-size: 0;
}

* {
  box-sizing: border-box;
}

/* html,
body, #root, .app {
  width: 100%;
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.carousel-container {
  height: 100%;
  width: 100%;
  border: 2px solid black;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 2rem 2rem 2rem;
  position: relative;
}

.arrow-left {
  position: absolute;
  left: 0;
  top: 0;
  width: 2rem;
  height: 100%;
  background-color: royalblue;
  z-index: 100;
}

.arrow-left::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%, -50%) rotate(45deg);
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.arrow-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 100%;
  background-color: royalblue;
  z-index: 100;
}

.arrow-right::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0.5rem;
  height: 0.5rem;
  transform: translate(-50%, -50%) rotate(45deg);
  border-top: 2px solid black;
  border-right: 2px solid black;
}

.item {
  width: 100%;
  height: 100%;
  /* // margin-right: 50px; */
  border: 2px solid red;
  display: inline-block;
  transition: transform 0.75s ease;
  transform: translateX(var(--carousel-transform-size));
  text-align: center;
  white-space: break-spaces;
  overflow: hidden;
}

.dots {
  height: 0.5rem;
  width: 3rem;
  background: black;
}

.dot-container {
  position: absolute;
  top: 100%;
  transform: translateY(-100%);
  padding: 0 2rem;
  left: 0;
  width: 100%;
  height: 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid-container {
  height: 100%;
  display: flex;
}

.grid-container > * {
  width: 50%;
}

.box-element {
  border: 2px solid royalblue;
  aspect-ratio: 1/1;
}
.box-element input[type=checkbox] {
  display: block;
  appearance: none;
  height: 1em;
  width: 1em;
  border: 1px solid gray;
  border-radius: 0;
  position: relative;
}
.box-element input[type=checkbox]::before {
  content: "✔";
  position: absolute;
  font-size: 0.8em;
  right: -1px;
  top: -0.3em;
  visibility: hidden;
}
.box-element input[type=checkbox]:checked::before {
  visibility: visible;
}
.box-element:not([data-active=true]) input[type=checkbox] {
  visibility: hidden;
}
.box-element[data-active=true]:hover input[type=checkbox] {
  visibility: initial;
}

.box-container {
  border: 1px solid #c5c5c5;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 10px;
  width: 100%;
}

@layer react-dropdown {
  .react-dropdown {
    position: relative;
    display: inline-block;
    font-size: 0.625rem;
    font-family: Verdana, Arial, sans-serif;
    padding: 0.5em 2.5em 0.5em 0.5em;
    min-width: 15em;
    cursor: pointer;
    user-select: none;
    border: 0.2em solid #367beb;
    border-radius: 0.4em;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.45);
    outline: none;
    box-sizing: border-box;
    background: #f0f0f0;
    background: linear-gradient(0deg, #e3e3e3, #fcfcfc 50%, #f0f0f0);
    z-index: 10;
  }
  .react-dropdown:focus-visible {
    outline: none;
    box-shadow: 0 0 0 2px #ed6f1e;
  }
  .react-dropdown::before {
    content: "";
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    box-sizing: border-box;
    height: 100%;
    width: 3em;
    padding-top: 0.6em;
    border-left: 0.2em solid #367beb;
    border-radius: 0 0.1em 0.1em 0;
    background-color: #367beb;
  }
  .react-dropdown::after {
    content: ""; /* U+25BC; make sure to set a charset meta tag */
    position: absolute;
    z-index: 10;
    box-sizing: border-box;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: initial;
    background: white;
    top: 50%;
    right: 0;
    transform: translate(-90%, -50%);
    transition: clip-path 330ms ease;
    clip-path: polygon(0 0, 100% 0, 50% 100%, 50% 100%);
  }
  .react-dropdown .optList {
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    min-width: 100%;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    border: 0.2em solid #367beb;
    border-top-width: 0.1em;
    border-radius: 0 0 0.4em 0.4em;
    box-shadow: 0 0.2em 0.4em rgba(0, 0, 0, 0.4);
    background: #f0f0f0;
    transition: transform 330ms ease, opacity 330ms ease;
    transform: translateY(1px);
    z-index: 5;
  }
  .react-dropdown .optList.hidden {
    max-height: 0;
    visibility: hidden;
  }
  .react-dropdown .value {
    display: inline-block;
    font-size: 0.75rem;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    vertical-align: top;
  }
  .react-dropdown .option {
    padding: 0.2em 0.3em;
    font-size: 0.75rem;
    opacity: 0;
    animation-delay: calc(40ms * var(--index)) !important;
  }
  .react-dropdown.active::after {
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
  }
  .react-dropdown.active .option {
    animation: drop 220ms ease forwards;
  }
  .react-dropdown .highlight {
    background-color: #367beb;
    color: white;
    font-weight: bold;
  }
  .react-dropdown select {
    visibility: hidden;
    max-height: 0;
    position: absolute;
    padding: 0;
    margin: 0;
  }
}
@keyframes drop {
  from {
    transform: translateY(-5px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
:root {
  --card-width: 200px;
  --card-height: 300px;
  --card-transition-duration: 800ms;
  --card-transition-easing: ease;
}

.voyage-slider {
  width: 100vw;
  height: 100vh;
}
.voyage-slider body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.787);
  overflow: hidden;
}
.voyage-slider button {
  border: none;
  background: none;
  cursor: pointer;
}
.voyage-slider button:focus {
  outline: none;
  border: none;
}
.voyage-slider .app {
  z-index: 1;
  position: absolute;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.voyage-slider .app__bg {
  position: absolute;
  width: calc(100% + 4rem);
  height: calc(100% + 4rem);
  z-index: -5;
  filter: blur(8px);
  pointer-events: none;
  user-select: none;
  overflow: hidden;
}
.voyage-slider .app__bg::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  opacity: 0.8;
}
.voyage-slider .app__bg__image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--image-translate-offset, 0));
  width: 180%;
  height: 180%;
  transition: transform 1000ms ease, opacity 1000ms ease;
  overflow: hidden;
}
.voyage-slider .app__bg__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.voyage-slider .app__bg__image.current--image {
  opacity: 1;
  --image-translate-offset: 0;
}
.voyage-slider .app__bg__image.previous--image, .voyage-slider .app__bg__image.next--image {
  opacity: 0;
}
.voyage-slider .app__bg__image.previous--image {
  --image-translate-offset: -25%;
}
.voyage-slider .app__bg__image.next--image {
  --image-translate-offset: 25%;
}
.voyage-slider .cardList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: auto;
}
.voyage-slider .cardList__btn {
  --btn-size: 35px;
  width: var(--btn-size);
  height: var(--btn-size);
  position: absolute;
  top: 50%;
  z-index: 100;
  border-radius: 0;
  transform: translateY(-50%) rotate(45deg);
}
.voyage-slider .cardList__btn.btn--left {
  left: -5%;
  border-left: 2px solid white;
  border-bottom: 2px solid white;
}
.voyage-slider .cardList__btn.btn--right {
  border-right: 2px solid white;
  border-top: 2px solid white;
  right: -5%;
}
.voyage-slider .cardList__btn .icon {
  width: 100%;
  height: 100%;
}
.voyage-slider .cardList__btn .icon svg {
  width: 100%;
  height: 100%;
}
.voyage-slider .cardList .cards__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}
.voyage-slider .card {
  --card-translateY-offset: 100vh;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) translateX(var(--card-translateX-offset)) translateY(var(--card-translateY-offset)) rotateY(var(--card-rotation-offset)) scale(var(--card-scale-offset));
  display: inline-block;
  width: var(--card-width);
  height: var(--card-height);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  user-select: none;
}
.voyage-slider .card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1;
  transition: opacity var(--card-transition-duration) var(--card-transition-easing);
  opacity: calc(1 - var(--opacity));
}
.voyage-slider .card__image {
  position: relative;
  width: 100%;
  height: 100%;
}
.voyage-slider .card__image img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.voyage-slider .card.current--card {
  --current-card-rotation-offset: 0;
  --card-translateX-offset: 0;
  --card-rotation-offset: var(--current-card-rotation-offset);
  --card-scale-offset: 1.2;
  --opacity: 0.8;
}
.voyage-slider .card.previous--card {
  --card-translateX-offset: calc(-1 * var(--card-width) * 1.1);
  --card-rotation-offset: 25deg;
}
.voyage-slider .card.next--card {
  --card-translateX-offset: calc(var(--card-width) * 1.1);
  --card-rotation-offset: -25deg;
}
.voyage-slider .card.previous--card, .voyage-slider .card.next--card {
  --card-scale-offset: 0.9;
  --opacity: 0.4;
}
.voyage-slider .infoList {
  position: absolute;
  width: calc(3 * var(--card-width));
  height: var(--card-height);
  pointer-events: none;
}
.voyage-slider .infoList .info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  perspective: 1000px;
  transform-style: preserve-3d;
}
.voyage-slider .info {
  margin-bottom: calc(var(--card-height) / 8);
  margin-left: calc(var(--card-width) / 1.5);
  transform: translateZ(2rem);
  transition: transform var(--card-transition-duration) var(--card-transition-easing);
  position: absolute;
  top: 33%;
}
.voyage-slider .info .text {
  position: relative;
  font-family: "Montserrat";
  font-size: calc(var(--card-width) * var(--text-size-offset, 0.2));
  white-space: nowrap;
  color: #fff;
  width: fit-content;
}
.voyage-slider .info .name,
.voyage-slider .info .location {
  text-transform: uppercase;
}
.voyage-slider .info .location {
  font-weight: 800;
}
.voyage-slider .info .location {
  --mg-left: 40px;
  --text-size-offset: 0.12;
  font-weight: 600;
  margin-left: var(--mg-left);
  margin-bottom: calc(var(--mg-left) / 2);
  padding-bottom: 0.8rem;
}
.voyage-slider .info .location::before, .voyage-slider .info .location::after {
  content: "";
  position: absolute;
  background: #fff;
  left: 0%;
  transform: translate(calc(-1 * var(--mg-left)), -50%);
}
.voyage-slider .info .location::before {
  top: 50%;
  width: 20px;
  height: 5px;
}
.voyage-slider .info .location::after {
  bottom: 0;
  width: 60px;
  height: 2px;
}
.voyage-slider .info .description {
  --text-size-offset: 0.065;
  font-weight: 500;
  background: rgba(22, 22, 22, 0.5);
  padding: 0.25rem;
  text-align: center;
  width: 100%;
}
.voyage-slider .info.current--info {
  opacity: 1;
  display: block;
}
.voyage-slider .info.previous--info, .voyage-slider .info.next--info {
  opacity: 0;
  display: none;
}
.voyage-slider .loading__wrapper {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #000;
  z-index: 200;
}
.voyage-slider .loading__wrapper .loader--text {
  color: #fff;
  font-family: "Montserrat";
  font-weight: 500;
  margin-bottom: 1.4rem;
}
.voyage-slider .loading__wrapper .loader {
  position: relative;
  width: 200px;
  height: 2px;
  background: rgba(255, 255, 255, 0.25);
}
.voyage-slider .loading__wrapper .loader span {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 0, 0);
  transform: scaleX(0);
  transform-origin: left;
}
@media only screen and (min-width: 800px) {
  .voyage-slider :root {
    --card-width: 250px;
    --card-height: 400px;
  }
}
.voyage-slider .support {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 10px;
  display: flex;
}
.voyage-slider .support a {
  margin: 0 10px;
  color: #fff;
  font-size: 1.8rem;
  backface-visibility: hidden;
  transition: all 150ms ease;
}
.voyage-slider .support a:hover {
  transform: scale(1.1);
}

:root {
  --background-color: #F4F4F4;
  --text-color: #000000;
  --btn-background: #367beb;
  --btn-background-hover: #379dff;
}

.theme-dark {
  --background-color: #252526;
  --text-color: #FFFFFF;
}

/*
bg $white
text $black
btn-bg $blue-700
btn-bg-hover $blue-500
btn-text $white
*/
@layer theme {
  .content {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: #FFFFFF;
}

#root, .wrapper {
  height: 100%;
}

.wrapper {
  position: relative;
}

.content {
  padding: 0 1rem 1rem 1rem;
  min-height: 100%;
}
.content h1 {
  margin: 0;
}

.clipped-image {
  position: absolute;
  clip: rect(125px, 250px, 200px, 50px);
}

.btn-blue {
  background-color: var(--btn-background);
  color: #FFFFFF;
  border: none;
}
.btn-blue:hover {
  background-color: #379dff;
  color: #FFFFFF;
  border: none;
}

.image-expandable {
  width: 100%;
  height: 15rem;
  transition: transform 330ms ease;
  object-fit: cover;
  transform-origin: bottom;
}
.image-expandable:hover {
  transform: scale(1.05);
}

.image-expand-card .image-description {
  border-left: 1px solid #c1c1c1;
  border-right: 1px solid #c1c1c1;
  border-bottom: 1px solid #c1c1c1;
  padding: 1rem;
  color: #424242;
}

.image-container-card {
  display: flex;
  flex-wrap: wrap;
}
.image-container-card .image-description {
  padding: 1rem;
  height: 100%;
  border: 1px solid #c1c1c1;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
}
.image-container-card .image {
  width: 100%;
  height: 100%;
  max-height: 80vh;
  object-fit: cover;
}
.image-container-card.right .image-dot-image {
  transform: translate(calc(-100% + 3rem), 5rem);
}

.image-dot {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 2px solid white;
  background: transparent;
  backdrop-filter: blur(5px);
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
}
.image-dot::before {
  content: "";
  display: block;
  z-index: 10;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: background-color 330ms ease;
}
.image-dot::after {
  content: "";
  display: none;
  z-index: 10;
  width: 2px;
  height: 5rem;
  background: white;
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, 0);
}
.image-dot.active {
  z-index: 20;
}
.image-dot.active::after {
  display: block;
}
.image-dot.active::before {
  background-color: #379dff;
}
.image-dot .image-dot-image {
  z-index: 10;
  position: absolute;
  top: 100%;
  transform: translateY(5rem);
  border: 2px solid transparent;
  transition: max-height 0s;
  width: 20rem;
  max-height: 0;
  object-fit: cover;
}
.image-dot .image-dot-image.visible {
  max-height: 15rem;
  border-color: white;
  transition: max-height 1s;
  box-shadow: 0 0 10px black;
}

.expandable {
  transition: max-height 1s;
  max-height: 0;
}

.footer-border {
  border: 3px solid rgba(22, 22, 22, 0.5);
}

/*# sourceMappingURL=styles.css.map */
