@use 'colors';
@use "theme-maps";
@use 'helpers' as theme;
@import "../../src/components/Sidebar/sidebar";
@import "../../src/components/Filter/filter";
@import "../../src/components/Card/card";
@import "../../src/components/FileInput/file-input";
@import "../../src/components/Modal/modal";
@import "../../src/components/LoadingScreen/loading-screen";
@import "../../src/components/Switch/switch";
@import "../../src/screens/Settings/settings";

// Setting theme
:root {
  --background-color: #{theme.light("background")};
  --text-color: #{theme.light("text-color")};
  --btn-background: #{theme.light("btn-background")};
  --btn-background-hover: #{theme.light("btn-background-hover")};
}

.theme-dark {
  --background-color: #{theme.dark("background")};
  --text-color: #{theme.dark("text-color")};
}
/*
bg $white
text $black
btn-bg $blue-700
btn-bg-hover $blue-500
btn-text $white
*/

// Layering theme for cascading ease
@layer theme {
  .content {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}

// General styling
html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: colors.$white;
}

#root, .wrapper {
  height: 100%;
}

.wrapper {
  position: relative;
}

.content {
  padding: 1rem 1rem 1rem calc(60px + 1rem);
  height: 100%;

  h1 {
    margin: 0;
  }
}

.clipped-image {
  position: absolute;
  clip: rect(125px, 250px, 200px, 50px)
}

.btn-blue {
  background-color: var(--btn-background);
  color: colors.$white;
  border: none;

  &:hover {
    background-color: colors.$blue-500;
    color: colors.$white;
    border: none;
  }
}