@use 'colors';
@import "../../src/components/Sidebar/sidebar";
@import "../../src/components/Filter/filter";
@import "../../src/components/Card/card";
@import "../../src/components/FileInput/file-input";
@import "../../src/components/Modal/modal";
@import "../../src/components/LoadingScreen/loading-screen";

html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: colors.$white;
}

#root, .wrapper {
  height: 100%;
}

.wrapper {
  position: relative;
}
.content {
  padding: 1rem 1rem 1rem calc(60px + 1rem);
  h1 {
    margin: 0;
  }
}

.clipped-image {
  position: absolute;
  clip: rect(125px, 250px, 200px, 50px)
}

.btn-blue {
  background-color: colors.$blue-700;
  color: colors.$white;
  border: none;
  &:hover {
    background-color: colors.$blue-500;
    color: colors.$white;
    border: none;
  }
}
