/*  Themes  */
/*  Themes  */
* {
  box-sizing: border-box;
}

.sidebar {
  --border-right: 1px;
  --width: 300px;
  --closed-width: 60px;
  --transform: calc(var(--width) * -1 + var(--closed-width) + var(--border-right));
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: var(--width);
  min-width: 150px;
  height: 100vh;
  border-right: var(--border-right) solid #3149b8;
  transform: translateX(var(--transform));
  transition: transform 220ms ease-in-out;
  background-color: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(5px);
  padding-bottom: 60px;
}
.sidebar.open {
  transform: translateX(0);
  width: min(var(--width), 90%);
}
.sidebar.open .toggle span {
  transform: rotate(45deg);
}
.sidebar.open .toggle span::before, .sidebar.open .toggle span::after {
  transform: rotate(90deg);
}
@media screen and (max-width: 240px) {
  .sidebar.open .toggle span {
    display: none;
  }
}
.sidebar.open nav a, .sidebar.open nav button, .sidebar.open footer a, .sidebar.open footer button {
  pointer-events: auto;
}
.sidebar .toggle {
  width: 100%;
  height: var(--closed-width);
  border: none;
  padding: 0;
  position: relative;
  background-color: #3149b8;
}
.sidebar .toggle:hover {
  background-color: #367beb;
}
.sidebar .toggle p {
  font-size: 2rem;
  text-align: left;
  margin: 0 0 0 1rem;
  color: #FFFFFF;
}
.sidebar .toggle span {
  --short: calc(var(--closed-width) * 1 / 10);
  --long: calc(var(--closed-width) * 8 / 10);
  position: absolute;
  right: var(--short);
  top: calc(50% - 2.5px);
  display: block;
  width: var(--long);
  height: 5px;
  background-color: #FFFFFF;
  border-radius: var(--short);
  transition: transform 220ms ease-in-out;
  --distance1: calc(var(--closed-width) / 5);
  --distance2: calc(var(--distance1) * -1);
}
.sidebar .toggle span::before, .sidebar .toggle span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: var(--long);
  height: 5px;
  transition: transform 220ms ease-in-out;
  background-color: #FFFFFF;
  border-radius: var(--short);
}
.sidebar .toggle span::before {
  transform: translateY(var(--distance1));
}
.sidebar .toggle span::after {
  transform: translateY(var(--distance2));
}
.sidebar nav, .sidebar footer {
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar nav .nav-anchor a, .sidebar footer .nav-anchor a {
  display: flex;
  flex-wrap: wrap;
  text-decoration: none;
}
.sidebar nav .nav-anchor .nav-text, .sidebar footer .nav-anchor .nav-text {
  overflow: hidden;
}
.sidebar nav .nav-anchor .nav-text:not(.w-100), .sidebar footer .nav-anchor .nav-text:not(.w-100) {
  width: calc(100% - var(--closed-width));
}
.sidebar nav .nav-anchor .nav-text:not(.w-100) + .nav-icon, .sidebar footer .nav-anchor .nav-text:not(.w-100) + .nav-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--closed-width);
  font-size: 1.5rem;
  color: #367beb;
}
.sidebar nav .nav-anchor:hover, .sidebar footer .nav-anchor:hover {
  background-color: #efe5fd;
}
.sidebar nav .nav-anchor:hover .nav-icon, .sidebar footer .nav-anchor:hover .nav-icon {
  color: #ed6f1e !important;
}
.sidebar nav .nav-anchor .active .nav-text, .sidebar footer .nav-anchor .active .nav-text {
  font-weight: bold;
}
.sidebar nav .nav-anchor .active .nav-icon, .sidebar footer .nav-anchor .active .nav-icon {
  color: #ed6f1e !important;
}
.sidebar nav .nav-text, .sidebar nav button, .sidebar footer .nav-text, .sidebar footer button {
  display: flex;
  height: var(--closed-width);
  align-items: center;
  padding: 1rem;
  pointer-events: none;
  text-decoration: none;
  color: #3149b8;
  font-size: large;
  background-color: transparent;
  border: none;
  font-family: Arial, sans-serif;
}
.sidebar nav .nav-text:hover, .sidebar nav button:hover, .sidebar footer .nav-text:hover, .sidebar footer button:hover {
  background-color: #efe5fd;
}
.sidebar footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 60px;
  color: #7f7f7f;
}
.sidebar footer label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*  Themes  */
.filter-class {
  border: 1px solid #367beb;
  border-radius: 0.25rem 0.25rem 0 0;
  margin: 1rem 0;
  padding: 1rem;
}
.filter-class .form-title {
  margin-bottom: 2rem;
}
.filter-class label > input {
  margin-left: 0.5rem;
}
.filter-class .radio-label {
  margin-right: 1rem;
  margin-left: 0.5rem;
}
.filter-class .filter-buttons {
  margin-top: 2rem;
}

/*  Themes  */
:root {
  --card-box-shadow-color: rgba(190, 190, 190, 0.2);
  --card-a-color: #3569d8;
}

.theme-dark {
  --card-a-color: #95cfff;
}

@layer theme {
  .card {
    box-shadow: 0 0 5px var(--card-box-shadow-color);
  }
}
.card {
  padding: 1rem 1rem 2.5rem 1rem;
  height: 100%;
  position: relative;
  background-color: transparent;
}
.card a {
  color: var(--card-a-color);
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}

/*  Themes  */
.file-input {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  height: 30px;
  padding: 0 0.5rem;
  cursor: pointer !important;
  border: 1px solid #7f7f7f;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.file-input .dots {
  font-family: Courier, sans-serif;
  display: inline-block;
  width: 3ch;
  animation: dots 2s linear infinite;
  overflow: hidden;
  height: 100%;
}
.file-input:hover {
  border-color: #000000;
}
.file-input input[type=file] {
  cursor: pointer !important;
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

@keyframes dots {
  0%, 25% {
    width: 0;
  }
  26%, 50% {
    width: 1ch;
  }
  51%, 75% {
    width: 2ch;
  }
  76%, 100% {
    width: 3ch;
  }
}
/*  Themes  */
.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: brightness(40%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-wrapper .react-modal {
  max-width: 60%;
  min-width: 100px;
  min-height: 100px;
  background-color: #FFFFFF;
}

/*  Themes  */
.loading-screen {
  background-color: #e4f3ff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
}

.rotary {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
  border: 10px solid;
  border-color: #5300e8 transparent transparent #388eff;
  border-radius: 50%;
  animation: rotate 5s cubic-bezier(0.1, 0, 0.9, 1) infinite;
}

@keyframes rotate {
  50% {
    transform: rotateZ(0.5turn);
  }
  100% {
    transform: rotateZ(1turn);
  }
}
/*  Themes  */
.react-switch {
  box-sizing: border-box;
  width: 45px;
  height: 20px;
  position: relative;
  box-shadow: 0.2rem 0.2rem 0.4rem #bbb, -0.2rem -0.2rem 0.4rem #FFFFFF;
  border-radius: 10px;
  background-color: #FFFFFF;
  border: 1px solid #c1c1c1;
  cursor: pointer;
  --left: 2px;
  --right: 25px;
  --position: var(--left);
}
.react-switch.checked {
  --position: var(--right);
}
.react-switch.checked::after {
  background-image: linear-gradient(330deg, #388eff 0%, #95cfff 100%);
}
.react-switch::after {
  transition: transform 0.22s linear;
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 1px;
  transform: translateX(var(--position));
  height: 16px;
  width: 16px;
  background-image: linear-gradient(330deg, #D0372F 0%, #d06e6e 100%);
}
.react-switch > div {
  height: 100%;
}

/*  Themes  */
.settings-container {
  max-width: 700px;
  margin: auto;
  border: 2px solid;
  border-color: transparent #3149b8;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.settings-container .settings-text {
  max-width: calc(100% - 45px - 1rem);
  margin-right: 1rem;
}

:root {
  --background-color: #FFFFFF;
  --text-color: #000000;
  --btn-background: #367beb;
  --btn-background-hover: #379dff;
}

.theme-dark {
  --background-color: #252526;
  --text-color: #FFFFFF;
}

/*
bg $white
text $black
btn-bg $blue-700
btn-bg-hover $blue-500
btn-text $white
*/
@layer theme {
  .content {
    background-color: var(--background-color);
    color: var(--text-color);
  }
}
html, body {
  margin: 0;
  height: 100%;
}

body {
  background-color: #FFFFFF;
}

#root, .wrapper {
  height: 100%;
}

.wrapper {
  position: relative;
}

.content {
  padding: 1rem 1rem 1rem calc(60px + 1rem);
  height: 100%;
}
.content h1 {
  margin: 0;
}

.clipped-image {
  position: absolute;
  clip: rect(125px, 250px, 200px, 50px);
}

.btn-blue {
  background-color: var(--btn-background);
  color: #FFFFFF;
  border: none;
}
.btn-blue:hover {
  background-color: #379dff;
  color: #FFFFFF;
  border: none;
}

/*# sourceMappingURL=styles.css.map */
