@use 'colors';
@import "sidebar";
@import "filter";
@import "card";
@import "file-input";

html, body {
  margin: 0;
  min-height: 200vh;
}

body {
  background-color: colors.$white;
}

.wrapper {
  position: relative;
}
.content {
  padding: 1rem 1rem 1rem calc(60px + 1rem);
  h1 {
    margin: 0;
  }
}

.clipped-image {
  position: absolute;
  clip: rect(125px, 250px, 200px, 50px)
}

.btn-blue {
  background-color: colors.$blue-700;
  color: colors.$white;
  border: none;
  &:hover {
    background-color: colors.$blue-500;
    color: colors.$white;
    border: none;
  }
}