@use '../../../src/theme/colors';

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: brightness(40%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  .react-modal {
    max-width: 60%;
    min-width: 100px;
    min-height: 100px;
    background-color: colors.$white;
  }
}