@use '../../../src/theme/colors';


.settings-container {
  max-width: 700px;
  margin: auto;
  border: 2px solid;
  border-color: transparent colors.$blue-900;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  .settings-text {
    max-width: calc(100% - 45px - 1rem);
    margin-right: 1rem;
  }
}
