* {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}


body {
  background-image: url("/src/media/background.jpg");
  background-position: center;
  background-blend-mode: multiply;
  background-color: royalblue;
  background-repeat: no-repeat;
}
