#root, html, body, .wrapper, .content {
  height: 100%;
}

.contain-wrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contain-wrapper > * {
  max-width: 1000px;
  aspect-ratio: 16/9;
  border: 2px solid black;
}